<div class="container">

	<h1>Courses</h1>
	<br/>

	<div class="row">
		<div class="col-md-3">
			<input type="text" placeholder="Search..." class="form-control" ng-model="searchTerm"/>
		</div>
	</div>
	<br/>

	<div ng-repeat="course in courses | filter : searchTerm" class="row">
		<div class="col-md-1">
			<div>
				<a href='' >UP</a>
			</div>
			<div>
				<span class="badge">{{rating}}</span>
			</div>
			<div>
				<a href='' >DOWN</a>
			</div>
		</div>
		<div class="col-md-2">
			<img ng-src="{{course.pic}}" width="100px" />
		</div>
		<div class="col-md-6">
			<div class="h3">{{course.name | uppercase}}</div>
			<div>
				<span ng-hide="showMore">{{course.description | limitTo : 200 }}</span>
				<span ng-show="showMore">{{course.description}}</span>
				<span ng-show="course.description.length >
					200 && !showMore">...
					<span ng-hide="showMore" ng-mouseover="showMore = true">more</span>
				</span>
			</div>

		</div>

	</div>

</div>